.headerContent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    font-size: large;
}

.headerTitle { 
    grid-area: 1 / 2 / 2 / 3;
}

.headerLogo{
    grid-area: 1 / 1 / 2 / 2;
}
.headerAction{
    grid-area: 1 / 3 / 2 / 4;
}
